.page-header span {
        color: #ff3450;
}

.up-next__overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: #ff3450;
        opacity: 0.7;
}

.up-next h2 {
        max-width: 600px;
        font-size: 38px;
        font-weight: 600;
}

.up-next .up-next__title {
        margin-bottom: 10px;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
}

.up-next .container-inner {
        position: relative;
        z-index: 2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 100%;
}

.up-next img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
}

.newsletter-signup .wpcf7-form br {
            display: none;
}

.newsletter-signup .wpcf7-form > p:last-of-type {
            float: left;
}

.newsletter-signup .wpcf7-submit {
        display: inline-block;
        height: 56px;
        width: 180px;
        line-height: 56px;
        border: none;
        border-radius: 4px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        background: #ff3450;
        cursor: pointer;
}

.newsletter-signup .wpcf7-form-control-wrap {
        display: none;
}

.newsletter-signup :-ms-input-placeholder {
        font-size: 20px;
        color: #4a4a4a;
}

.newsletter-signup ::-moz-placeholder {
        font-size: 20px;
        color: #4a4a4a;
}

.newsletter-signup :-moz-placeholder {
        font-size: 20px;
        color: #4a4a4a;
}

.newsletter-signup ::-webkit-input-placeholder {
        font-size: 20px;
        color: #4a4a4a;
}

.newsletter-signup .wpcf7-email {
        border: 0;
        border-bottom: 1px solid #d8d8d8;
}

.newsletter-signup .label-title {
        display: block;
        line-height: 1.3;
        font-size: 24px;
        font-weight: 600;
        color: #212121;
}

.newsletter-signup label {
        font-size: 20px;
        color: #4a4a4a;
        cursor: pointer;
}

.newsletter-signup .wpcf7 {
        margin-left: 18%;
        padding: 0 7%;
}

.post-content a[rel="tag"] {
        display: inline-block;
        margin-right: 8px;
        padding: 3px 10px;
        border-radius: 10px;
        font-size: 13px;
        font-weight: 600;
        background: #dfdfdf;
        color: #000;
}

.post-content .owl-carousel {
        width: 165% !important;
        margin-bottom: 40px !important;
        margin-left: -40% !important;
}

.post-content .sa_hover_container {
        min-height: 0 !important;
        min-height: initial !important;
}

.post-content [rel="lightbox"] {
        float: left;
        display: block;
        width: 75%;
        margin: 0 30px 0 -37%;
}

.post-content img {
        height: auto;
}

.post-content p {
        margin-bottom: 42px;
        line-height: 1.5;
        font-size: 20px;
        color: #4a4a4a;
}

.post-content h3 {
        margin-bottom: 20px;
        font-size: 20px;
        color: #000;
}

.post-content h2 {
        margin-bottom: 42px;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.4;
        color: rgba(0, 0, 0, 0.6);
}

.post-single--tiled .read-further {
        display: none;
}

.post-single--tiled h1 {
        height: 78px;
        overflow: hidden;
        margin-bottom: 8px;
        font-size: 22px;
        font-weight: 700;
        color: #000;
}

.post-single--tiled img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
}

.post-single--tiled .post-image {
        position: relative;
        height: 155px;
        overflow: hidden;
}

.post-single--large:nth-child(-n + 4):not(:first-child) h1 {
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 700;
        color: #000;
}

.post-single--large:nth-child(-n + 4):not(:first-child) .post-info {
        margin-left: 24px;
}

.post-single--large:nth-child(-n + 4):not(:first-child) .post-image,
    .post-single--large:nth-child(-n + 4):not(:first-child) .post-info {
        float: left;
        width: calc(50% - 12px);
}

.post-single--large:first-child .read-further {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #ff3450;
}

.post-single--large:first-child h2 {
        margin-bottom: 15px;
        line-height: 1.3;
        font-size: 24px;
        color: #fff;
        opacity: 0.6;
}

.post-single--large:first-child h1 {
        margin-bottom: 20px;
        font-family: AvantGarde, sans-serif;
        font-size: 48px;
        color: #fff;
}

.post-single--large:first-child .post-category {
        display: none;
}

.post-single--large:first-child .post-info {
        position: absolute;
        z-index: 2;
        left: 50%;
        bottom: 35%;
        -webkit-transform: translateY(50%);
                transform: translateY(50%);
        padding-right: 30px;
}

.post-single--large:first-child .post-image::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .4);
}

.post-single .read-further {
        display: none;
}

.post-single h2 {
        line-height: 1.3;
        font-size: 18px;
        color: #4a4a4a;
}

.footer-social a:last-child {
        margin-right: 0;
}

.footer-social a {
        display: inline-block;
        -webkit-transform: translateY(30%);
                transform: translateY(30%);
        margin-right: 12px;
}

.archive .site-header .tags-container, .search-results .site-header .tags-container {
        bottom: -50px;
}

.archive .site-header .site-title__feed, .search-results .site-header .site-title__feed {
        color: #000;
        background: #ff3450;
}

.tags-container.toggled {
        display: block;
}

.tags-container li {
        float: left;
        display: inline-block;
        height: 24px;
        margin-right: 8px;
        padding: 0 8px;
        line-height: 24px;
        border-radius: 4px;
        font-size: 13px;
        font-weight: 600;
        color: #000;
        background: #dfdfdf;
}

.search-toggled .header-search .input-wrapper {
        display: block;
}

.search-toggled .header-search .search-close {
        display: block;
}

.search-toggled .header-search .search-toggle {
        display: none;
}

.search-toggled .header-search {
        width: 100%;
}

.header-search .search-close {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
        line-height: 34px;
        font-size: 72px;
        color: #fff;
        cursor: pointer;
}

.header-search i {
        position: absolute;
        top: 50%;
        right: -35px;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        display: inline-block;
        width: 27px;
        height: 27px;
        background: url(./img/search_ic.svg) no-repeat;
        background-size: 100% 100%;
}

.header-search .search-toggle {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 35px;
        line-height: 34px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
}

.header-search :-ms-input-placeholder {
        font-size: 24px;
        color: #fff;
}

.header-search ::-moz-placeholder {
        font-size: 24px;
        color: #fff;
}

.header-search :-moz-placeholder {
        font-size: 24px;
        color: #fff;
}

.header-search ::-webkit-input-placeholder {
        font-size: 24px;
        color: #fff;
}

.header-search .input-wrapper input {
        position: relative;
        top: -5px;
        width: calc(100% - 42px);
        height: 42px;
        padding: 0 15px;
        border: none;
        border-bottom: 1px solid #9b9b9b;
        font-size: 24px;
        color: #fff;
        background: transparent;
}

.main-navigation li {
        float: left;
        display: inline-block;
        margin-right: 24px;
        line-height: 34px;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
}

.site-header__right {
        position: relative;
        z-index: 2;
        float: right;
        width: 50%;
}/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p,
ul {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

input {
    -webkit-appearance: none
}

input:focus {
        outline: none;
}

@font-face {
    font-family: AvantGarde;
    src: url(./fonts/ITCAvantGardeStd-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    src: url(./fonts/ProximaNovaRegular.otf);
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url(./fonts/ProximaNovaSemibold.otf);
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url(./fonts/ProximaNovaBold.otf);
    font-weight: 700;
}

html {
    font-family: ProximaNova, sans-serif;
    line-height: 1.2;
}

:root {
    /* fonts */

    /* colors */
}

body {
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-inner {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
}

.extend {
    margin-left: -20px;
    margin-right: -20px;
}

@media (max-width: 679px) {

    .container {
        padding: 0 16px;
    }

    .container-inner {
        padding: 0 16px;
    }
}

.site-header {
    position: relative;
    z-index: 3;
    height: 120px;
    margin-bottom: -120px
}

.site-header > .container {
        height: 100%;
        padding: 20px;
        overflow: hidden;
}

.site-header > .container::after {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 50%;
            width: 1280px;
            height: 100%;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
            background: linear-gradient(#cacaca 0%, rgba(0, 0, 0, 0) 100%);
}

.site-branding {
    position: relative;
    z-index: 2;
    float: left;
}

.site-title {
    line-height: 32px;
    font-family: AvantGarde, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #fff
}

.site-title__feed {
        display: inline-block;
        padding: 2px 5px 0;
        background: #000;
        color: #9b9b9b;
}

.main-navigation,
.header-search {
    display: inline-block;
}

.main-navigation {
    float: left
}

.main-navigation ul {
        list-style-type: none;
}

.header-search {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px
}

.header-search .input-wrapper,
    .header-search [type="submit"] {
        display: none;
}

.search-toggled {
}

.search-toggled .main-navigation {
        display: none;
}

.tags-container {
    position: absolute;
    z-index: 3;
    bottom: 15px;
    display: none;
    width: 100%
}

.tags-container ul {
        padding: 0;
        list-style-type: none;
}

.archive .site-header,
.search-results .site-header {
    position: relative;
    height: 80px;
    margin-bottom: 100px;
    background: #000
}

.archive .site-header > .container, .search-results .site-header > .container {
}

.archive .site-header > .container::after, .search-results .site-header > .container::after {
            content: none;
}

@media (max-width: 1080px) {

    .main-navigation li {
        font-size: 13px;
        margin-right: 18px;
    }

    .header-search .search-toggle {
        font-size: 13px;
    }
}

@media (max-width: 1024px) {

    .site-header__right {
        width: 75%;
    }

    .main-navigation li {
        margin-right: 12px;
    }

    .archive .site-header,
    .search-results .site-header {
        margin-bottom: 70px;
    }
}

@media (max-width: 679px) {

        .header-search :-ms-input-placeholder {
            font-size: 16px;
            color: #fff;
        }

        .header-search ::-moz-placeholder {
            font-size: 16px;
            color: #fff;
        }

        .header-search :-moz-placeholder {
            font-size: 16px;
            color: #fff;
        }

        .header-search ::-webkit-input-placeholder {
            font-size: 16px;
            color: #fff;
        }

        .header-search .input-wrapper input {
            padding: 0 10px;
            font-size: 16px;
        }

        .header-search .search-toggle i {
            top: 4px;
            -webkit-transform: none;
                    transform: none;
        }

        .site-header__right {
            width: calc(100% - 130px);
        }

    .site-header {
        height: 68px;
        margin-bottom: -68px
    }

    .site-header > .container {
            padding: 16px;
        }

    .site-title {
        font-size: 20px
    }

    .site-title__feed {
            padding: 3px 5px 0;
        }

    .main-navigation {
        display: none;
    }

    .header-search {
        margin-right: 0
    }

    .header-search .search-toggle span {
            display: none;
        }

    .archive .site-header,
    .search-results .site-header {
        margin-bottom: 30px;
    }
}

.newsletter-footer {
    margin-bottom: 0 !important;
}

.site-footer {
    height: 68px;
    line-height: 68px;
    font-size: 14px;
    color: #4a4a4a;
}

.footer-copy {
    float: left;
}

.footer-social {
    float: right
}

.footer-social span {
        margin-right: 20px;
}

.single-post .site-footer,
.single-post .newsletter-footer {
    display: none;
}

@media (max-width: 679px) {

    .footer-social span {
        display: none;
    }
}

.post-single {
}

.post-single .post-category {
        display: block;
        margin: 12px 0 18px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #d0021b;
}

.post-single--large:first-child {
    position: relative;
    height: 640px;
    margin: 0 -20px 40px;
    overflow: hidden
}

.post-single--large:first-child > .container-inner {
        max-width: none;
        padding: 0;
}

.post-single--large:nth-child(-n + 4):not(:first-child) {
    padding: 0 20px
}

.post-single--large:nth-child(-n + 4):not(:first-child) > .container-inner {
        max-width: 1000px;
        overflow: hidden;
        padding: 8px 0;
        border-bottom: 1px solid #d8d8d8;
}

.post-single--large:nth-child(4) {
    margin-bottom: 48px;
}

.post-tiles-container {
    position: relative;
    overflow: hidden
}

.post-tiles-container::after {
        content: '';
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 33.33333%;
        background: linear-gradient(transparent, #fff 80%);
        pointer-events: none;
}

.mobile-title {
    display: none;
}

.post-single--tiled {
    float: left;
    width: calc((100% - 48px) / 3);
    margin-bottom: 50px
}

.post-single--tiled:nth-child(3n + 1),
    .post-single--tiled:nth-child(3n + 2) {
        margin-right: 24px;
}

@media (max-width: 1200px) {

        .post-single--large:first-child .read-further {
            font-size: 16px;
        }

        .post-single--large:first-child h2 {
            font-size: 18px;
        }

    .post-single--large:first-child {
    }

    .post-single--large:first-child h1 {
            font-size: 32px;
        }
}

@media (max-width: 1024px) {

        .post-single--tiled h1 {
            height: 63px;
            margin-bottom: 6px;
            font-size: 18px;
        }

        .post-single--tiled .post-image {
            position: relative;
            height: 90px;
        }

        .post-single--tiled:nth-child(2n + 1) {
            margin-right: 18px !important;
        }

        .post-single--large:nth-child(-n + 4):not(:first-child) h1 {
            margin-bottom: 10px;
            font-size: 22px;
            font-weight: 700;
            color: #000;
        }

        .post-single--large:nth-child(-n + 4):not(:first-child) .post-info {
            margin-left: 16px;
        }

        .post-single--large:first-child .read-further {
            font-size: 14px;
        }

        .post-single--large:first-child h2 {
            font-size: 16px;
        }

        .post-single h2 {
            font-size: 16px;
        }

    .post-single {
    }

    .post-single .post-category {
            margin: 8px 0 14px;
            font-size: 13px;
        }

    .post-single--large:first-child {
        height: 480px
    }

    .post-single--large:first-child h1 {
            font-size: 24px;
        }

    .post-single--large:nth-child(-n + 4):not(:first-child) {
    }

    .post-single--large:nth-child(-n + 4):not(:first-child) .post-image,
        .post-single--large:nth-child(-n + 4):not(:first-child) .post-info {
            width: calc(50% - 8px);
        }

    .post-tiles-container {
    }

    .post-tiles-container::after {
            height: 16.66667%;
        }

    .post-single--tiled {
        width: calc((100% - 18px) / 2);
        margin-bottom: 35px
    }

    .post-single--tiled:nth-child(3n + 1),
        .post-single--tiled:nth-child(3n + 2) {
            margin-right: 0;
        }
}

@media (max-width: 960px) {

    .post-single--large:first-child {
        height: auto;
    }
}

@media (max-width: 679px) {

        .post-single--tiled h1 {
            height: auto;
            margin-bottom: 0;
            font-size: 14px;
        }

        .post-single--tiled.post-single .post-category {
            margin: 0 0 6px;
            font-size: 12px;
            text-transform: uppercase;
        }

        .post-single--tiled .post-info {
            float: left;
            width: calc(100% / 3 * 2 - 10px);
        }

        .post-single--tiled .post-image img {
            position: static;
            -webkit-transform: none;
                    transform: none;
        }

        .post-single--tiled .post-image {
            float: left;
            width: 33.33333%;
            height: auto;
            margin-right: 10px;
        }

        .post-single--large:nth-child(-n + 4):not(:first-child) h1 {
            font-size: 18px;
        }

        .post-single--large:nth-child(-n + 4):not(:first-child) .post-info {
            margin-left: 0;
        }

        .post-single--large:first-child .read-further {
            font-size: 12px;
        }

        .post-single--large:first-child h1 {
            margin-bottom: 10px;
            font-size: 18px;
        }

        .post-single h2 {
            display: none;
        }

    .post-single {
    }

    .post-single .post-category {
            margin: 12px 0 10px;
            font-size: 12px;
            text-transform: uppercase;
        }

    .post-single--large:first-child {
        margin-bottom: 20px
    }

    .post-single--large:first-child .post-info {
            bottom: 30px;
            left: 0;
            -webkit-transform: none;
                    transform: none;
            padding-left: 16px;
        }

    .post-single--large:nth-child(-n + 4):not(:first-child) {
        padding: 0
    }

    .post-single--large:nth-child(-n + 4):not(:first-child) .post-image,
        .post-single--large:nth-child(-n + 4):not(:first-child) .post-info {
            float: none;
            width: 100%;
        }

    .post-single--large:nth-child(4) {
        margin-bottom: 10px;
        border-bottom: 5px solid #000;
    }

    .post-tiles-container {
        padding: 0;
    }

    .post-tiles-container--archive {
        padding: 0 16px;
    }

    .mobile-title {
        display: block;
        margin-bottom: 12px;
        padding-bottom: 10px;
        border-bottom: 1px solid #d8d8d8;
        font-size: 14px;
    }

    .post-single--tiled {
        float: none;
        width: 100%;
        margin-bottom: 12px;
        padding-bottom: 12px;
        overflow: hidden;
        border-bottom: 1px solid #d8d8d8
    }

    .post-single--tiled:nth-child(2n + 1) {
            margin-right: 0 !important;
        }
}

.post-image {
}

.post-image img {
        width: 100%;
        height: auto;
}

.post-content {
    position: relative;
    top: -150px;
    margin: 0 0 -150px 18%;
    padding: 40px 7% 80px;
    background: #fff
}

.post-content h1 {
        margin-bottom: 25px;
        font-family: AvantGarde, sans-serif;
        font-size: 46px;
        font-weight: 700;
        color: #000;
}

.newsletter-signup {
    margin: 0 0 80px 0;
    padding: 24px 0;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8
}

.newsletter-signup .wpcf7-form {
        overflow: hidden;
}

.newsletter-signup .wpcf7-form > p:first-of-type {
            float: left;
            width: 320px;
}

.related-posts {
    margin-bottom: 80px;
    overflow: hidden;
}

.up-next {
    position: relative;
    height: 240px;
    padding-bottom: 2.5%;
    margin: 0 -20px;
    overflow: hidden;
    color: #fff
}

.up-next > a {
        display: block;
        height: 100%;
}

.page-header {
}

.page-header h1 {
        padding-bottom: 6px;
        margin-bottom: 24px;
        border-bottom: 1px solid #d8d8d8;
        font-size: 24px;
        font-weight: 700;
        color: #212121;
}

@media (max-width: 1024px) {

        .post-content .owl-carousel {
            width: 130% !important;
            margin-bottom: 30px !important;
            margin-left: -20% !important;
        }

        .post-content h3 {
            font-size: 18px;
        }

        .post-content [rel="lightbox"] {
            width: 65%;
            margin: 0 25px 0 -25%;
        }

        .post-content p {
            margin-bottom: 32px;
            font-size: 16px;
        }

        .post-content h2 {
            margin-bottom: 24px;
            font-size: 20px;
        }

    .post-content {
        top: -100px;
        margin-bottom: -100px
    }

    .post-content h1 {
            margin-bottom: 32px;
            font-size: 32px;
        }

    .newsletter-signup {
        margin: 0 0 40px 0;
        padding: 24px 0;
    }

    .related-posts {
        margin-bottom: 40px;
    }

    .up-next {
        height: 180px;
        padding-bottom: 1%;
    }
}

@media (max-width: 960px) {

        .newsletter-signup .wpcf7-form br {
                display: none;
        }

        .newsletter-signup .wpcf7-form > p:last-of-type {
                float: left;
        }

        .newsletter-signup .label-title {
            font-size: 20px;
        }

        .newsletter-signup label {
            font-size: 18px;
        }

        .newsletter-signup .wpcf7-form {
            position: relative;
            left: 50%;
            display: inline-block;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
        }

        .newsletter-signup .wpcf7 {
            margin-left: 0;
            padding: 0 7%;
        }

    .newsletter-signup {
    }

    .newsletter-signup .wpcf7-form {
}

    .newsletter-signup .wpcf7-form > p:first-of-type {
                float: left;
                width: 280px;
        }
}

@media (max-width: 679px) {

        .newsletter-signup .wpcf7-form br {
                display: none;
        }

        .newsletter-signup .wpcf7-form > p:last-of-type {
                float: none;
        }

        .newsletter-signup .wpcf7-submit {
            width: 100%;
        }

        .newsletter-signup .label-title {
            font-size: 24px;
        }

        .newsletter-signup label {
            font-size: 18px;
        }

        .newsletter-signup .wpcf7-form {
            left: 0;
            display: block;
            -webkit-transform: none;
                    transform: none;
        }

        .newsletter-signup .wpcf7 {
            margin-left: 0;
            padding: 0;
        }

        .up-next h2 {
            font-size: 24px;
        }

        .post-content .owl-carousel {
            width: 140% !important;
            margin-bottom: 16px !important;
            margin-left: -30% !important;
        }

        .post-content h3 {
            font-size: 18px;
        }

        .post-content [rel="lightbox"] {
            width: 65%;
            margin: 0 20px 0 -25%;
        }

        .post-content p {
            margin-bottom: 24px;
            font-size: 14px;
        }

        .post-content h2 {
            margin-bottom: 18px;
            font-size: 16px;
        }

    .post-content {
        top: -70px;
        margin-bottom: -70px;
        padding: 30px 4%
    }

    .post-content h1 {
            margin-bottom: 22px;
            font-size: 24px;
        }

    .newsletter-signup {
        margin: 0 0 40px 0;
        padding: 24px 0;
    }

    .related-posts {
        margin-bottom: 40px;
    }

    .up-next {
        height: 180px;
        padding: 0 16px
    }

    .up-next .up-next__title {
            margin-bottom: 10px;
            font-size: 18px;
        }

    .page-header {
    }

    .page-header h1 {
            padding-bottom: 5px;
            margin-bottom: 18px;
            font-size: 20px;
        }

    .newsletter-signup {
        padding: 16px 0
    }

    .newsletter-signup .wpcf7-form {
            text-align: center;
        }

    .newsletter-signup .wpcf7-form > p:first-of-type {
                float: none;
                width: 100%;
                margin-bottom: 10px;
        }
}
