.mobile-menu__toggle {
    position: absolute;
    top: 10px;
    left: 0;
    display: none;
    border-style: solid;
    border-color: #fff transparent transparent;
    border-width: 12px 12px 0;
    cursor: pointer;
}

.mobile-menu-screen {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background: var(--dark-blue);
}

.mobile-navigation {
    padding-top: 100px;

    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0 16px;
    }

    & li {
        display: block;
        border-top: 1px solid color(var(--very-light-gray) alpha(0.3));
        font-size: 16px;
        font-weight: 700;
        color: #fff;
    }

    & li a {
        display: block;
        padding: 13px 0;
    }

    & li:last-child {
        border-bottom: 1px solid color(var(--very-light-gray) alpha(0.3));
    }

    & li:nth-child(2) {
        position: relative;
    }

    & li:nth-child(2)::after {
        content: '\02794';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        color: var(--pale-gray);
        cursor: pointer;
        pointer-events: none;
    }
}

body.menu-open {

    & .mobile-menu-screen {
        display: block;
    }

    & .mobile-menu__toggle {
        border-color: transparent transparent #fff;
        border-width: 0 12px 12px;
    }

    & .site-header > .container::after {
        content: none;
    }

    & .site-title__feed {
        background: var(--pink);
        color: #fff;
    }
}

.tags-container-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 40px);
    height: 100vh;
    transform: translateX(calc(100% + 40px));
    padding-top: 110px;
    background: #fff;

    & .tags-mobile-close {
        position: absolute;
        top: 30px;
        right: 20px;
        line-height: 0;
        font-size: 60px;
        color: var(--pale-gray);
        cursor: pointer;
    }

    & .tags-mobile-back {
        position: relative;
        display: inline-block;
        transform: rotateZ(180deg);
        margin: 0 0 -30px 10px;
    }

    & .tags-mobile-back::after {
        content: '\02794';
        position: relative;
        transform: translateY(-50%);
        font-size: 24px;
        color: var(--dark-blue);
        cursor: pointer;
        pointer-events: none;
    }

    & h3 {
        margin: -25px 0 24px;
        padding-left: 42px;
        font-size: 24px;
        font-weight: 400;
        color: var(--dark-blue);
    }

    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0 16px 0 42px;
    }

    & li {
        display: block;
        border-top: 1px solid color(var(--very-light-gray) alpha(0.3));
        font-size: 16px;
        font-weight: 700;
        color: var(--dark-blue);
    }

    & li a {
        display: block;
        padding: 13px 0;
    }
}

.site-header,
.mobile-navigation,
.tags-container-mobile {
    transition: 0.3s transform ease;
    will-change: transform;
}

body.mobile-tags-show {

    & .site-header,
    & .mobile-navigation {
        transform: translateX(-100%);
    }

    & .tags-container-mobile {
        transform: translateX(40px);
    }
}

.admin-bar {

    & .mobile-navigation {
        padding-top: 146px;
    }

    & .tags-container-mobile {
        padding-top: 156px;
    }

    & .tags-container-mobile .tags-mobile-close {
        top: 76px;
    }
}

@media (max-width: 679px) {

    .mobile-menu__toggle {
        display: block;
    }
}
