.single-post .site-main > .container {
    padding-top: 70vh;
}

.single-post .post-image--main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70vh;
    overflow: hidden;

    & img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        min-height: 100%;
    }
}

.post-content {
    position: relative;
    top: -150px;
    margin: 0 0 -150px 18%;
    padding: 40px 7% 80px;
    background: #fff;

    & h1 {
        margin-bottom: 25px;
        font-family: var(--font-heading);
        font-size: 46px;
        font-weight: 700;
        color: #000;
    }

    & .apss-social-share {
        width: 160px;
        height: 85px;
        margin-bottom: -85px;
        margin-left: -270px;
        border-bottom: 1px solid var(--very-light-gray);
    }

    & .apss-share-text {
        margin-bottom: 10px;
        font-family: var(--font-primary);
        font-size: 20px;
        font-weight: 700;
        color: #000;
        opacity: 1;
    }

    & .post-time {
        position: relative;
        top: 95px;
        display: block;
        margin-bottom: -20px;
        margin-left: -260px;
        font-size: 14px;
        color: #000;
    }

    & h2 {
        margin-bottom: 42px;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.4;
        color: color(#000 alpha(0.6));
    }

    & h3 {
        margin-bottom: 20px;
        font-size: 20px;
        color: #000;
    }

    & p,
    & ol,
    & ul {
        margin-bottom: 42px;
        line-height: 1.5;
        font-size: 20px;
        color: var(--content-gray);
    }

    & img {
        height: auto;
    }

    & [rel="lightbox"] {
        float: left;
        display: block;
        width: 75%;
        margin: 0 30px 0 -37%;
    }

    & .sa_hover_container {
        min-height: initial !important;
    }

    & .owl-carousel {
        width: 165% !important;
        margin-bottom: 40px !important;
        margin-left: -40% !important;
    }

    & a[rel="tag"] {
        display: inline-block;
        margin-right: 8px;
        padding: 3px 10px;
        border-radius: 10px;
        font-size: 13px;
        font-weight: 600;
        background: var(--light-gray);
        color: #000;
    }
}

.newsletter-signup {
    margin: 0 0 80px 0;
    padding: 24px 0;
    border-top: 1px solid var(--very-light-gray);
    border-bottom: 1px solid var(--very-light-gray);

    & .wpcf7-form {
        overflow: hidden;

        & > p:first-of-type {
            float: left;
            width: 320px;
        }

        & > p:last-of-type {
            float: left;
        }

        & br {
            display: none;
        }
    }

    & .wpcf7 {
        margin-left: 18%;
        padding: 0 7%;
    }

    & .wpcf7-form.active .newsletter-text-to-hide {
        display: none;
    }

    & .wpcf7-form.active .wpcf7-form-control-wrap {
        display: block;
    }

    & .wpcf7-response-output {
        clear: both;
        margin: 0 0 10px;
        transform: translateY(10px);
    }

    & label {
        font-size: 20px;
        color: var(--content-gray);
        cursor: pointer;
    }

    & .label-title {
        display: block;
        line-height: 1.3;
        font-size: 24px;
        font-weight: 600;
        color: var(--dark-gray);
    }

    & .wpcf7-email {
        width: calc(100% - 20px);
        height: 56px;
        border: 0;
        border-bottom: 1px solid var(--very-light-gray);
        color: var(--content-gray);
    }

    & ::-webkit-input-placeholder {
        font-size: 20px;
        color: var(--content-gray);
    }

    & :-moz-placeholder {
        font-size: 20px;
        color: var(--content-gray);
    }

    & ::-moz-placeholder {
        font-size: 20px;
        color: var(--content-gray);
    }

    & :-ms-input-placeholder {
        font-size: 20px;
        color: var(--content-gray);
    }

    & .wpcf7-form-control-wrap {
        display: none;
    }

    & .wpcf7-submit {
        display: inline-block;
        height: 56px;
        width: 180px;
        line-height: 56px;
        border: none;
        border-radius: 4px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        background: var(--pink);
        cursor: pointer;
    }
}

.related-posts {
    margin-bottom: 80px;
    overflow: hidden;
}

.up-next {
    position: relative;
    height: 240px;
    margin: 0 -20px;
    overflow: hidden;
    color: #fff;

    & > a {
        display: block;
        height: 100%;
    }

    & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    & .container-inner {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    & .up-next__title {
        margin-bottom: 10px;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
    }

    & h2 {
        max-width: 600px;
        font-size: 38px;
        font-weight: 600;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: var(--pink);
        opacity: 0.7;
    }
}

.page-header {

    & h1 {
        padding-bottom: 6px;
        margin-bottom: 24px;
        border-bottom: 1px solid var(--very-light-gray);
        font-size: 24px;
        font-weight: 700;
        color: var(--dark-gray);
    }

    & span {
        color: var(--pink);
    }
}

.search-no-results .page-header h1 {
    text-align: center;
    border-bottom: none;
}

@media (max-width: 1024px) {

    .single-post .site-main > .container {
        padding-top: 520px;
    }

    .single-post .post-image--main {
        height: 520px;
    }

    .post-content {
        top: -100px;
        margin-bottom: -100px;

        & h1 {
            margin-bottom: 24px;
            font-size: 32px;
        }

        & .apss-social-share {
            float: right;
            height: 52px;
            margin: -76px 0 0;
            border-bottom: none;
        }

        & .apss-share-text {
            display: none;
        }

        & .post-time {
            position: relative;
            top: 0;
            display: block;
            margin-bottom: 16px;
            margin-left: 0;
            line-height: 60px;
            border-bottom: 1px solid var(--very-light-gray);
        }

        & h2 {
            margin-bottom: 24px;
            font-size: 20px;
        }

        & p,
        & ol,
        & ul {
            margin-bottom: 32px;
            font-size: 16px;
        }

        & [rel="lightbox"] {
            width: 65%;
            margin: 0 25px 0 -25%;
        }

        & h3 {
            font-size: 18px;
        }

        & .owl-carousel {
            width: 130% !important;
            margin-bottom: 30px !important;
            margin-left: -20% !important;
        }
    }

    .newsletter-signup {
        margin: 0 0 40px 0;
        padding: 24px 0;
    }

    .related-posts {
        margin-bottom: 40px;
    }

    .up-next {
        height: 180px;
    }
}

@media (max-width: 960px) {

    .single-post .site-main > .container {
        padding-top: 0;
    }

    .single-post .post-image--main {
        position: relative;
        height: auto;
        max-height: 70vh;

        & img {
            position: static;
            transform: none;
        }
    }

    .newsletter-signup {

        & .wpcf7-form {

            & > p:first-of-type {
                float: left;
                width: 280px;
            }

            & > p:last-of-type {
                float: left;
            }

            & br {
                display: none;
            }
        }

        & .wpcf7 {
            margin-left: 0;
            padding: 0 7%;
        }

        & .wpcf7-form {
            position: relative;
            left: 50%;
            display: inline-block;
            transform: translateX(-50%);
        }

        & label {
            font-size: 18px;
        }

        & .label-title {
            font-size: 20px;
        }
    }
}

@media (max-width: 679px) {

    .post-content {
        top: -70px;
        margin-bottom: -70px;
        margin-left: 0;
        padding: 30px 4%;

        & h1 {
            margin-bottom: 12px;
            font-size: 20px;
        }

        & .apss-social-share {
            width: 100px;
            margin-top: -66px;
        }

        & .post-time {
            font-size: 12px;
        }

        & h2 {
            margin-bottom: 18px;
            font-size: 16px;
        }

        & p,
        & ol,
        & ul {
            margin-bottom: 24px;
            font-size: 14px;
        }

        & [rel="lightbox"] {
            width: 65%;
            margin: 0 20px 0 -10%;
        }

        & h3 {
            font-size: 18px;
        }

        & .owl-carousel {
            width: 115% !important;
            margin-bottom: 16px !important;
            margin-left: -10% !important;
        }
    }

    .apss-theme-4 .apss-single-icon a {
        margin: 4px;
    }

    .apss-theme-4 .apss-icon-block,
    .apss-theme-4 .apss-single-icon .fa {
        width: 24px;
        height: 24px;
        min-width: 24px;
        font-size: 14px;
    }

    .apss-theme-4 .apss-single-icon .fa {
        padding-top: 4px;
    }

    .newsletter-signup {
        margin: 0 0 40px 0;
        padding: 24px 0;
    }

    .related-posts {
        margin-bottom: 40px;
    }

    .up-next {
        height: 180px;
        padding: 0 16px;

        & .up-next__title {
            margin-bottom: 10px;
            font-size: 18px;
        }

        & h2 {
            font-size: 24px;
        }
    }

    .page-header {

        & h1 {
            padding-bottom: 5px;
            margin-bottom: 18px;
            font-size: 20px;
        }
    }

    .newsletter-signup {
        padding: 16px 0;

        & .wpcf7-form {
            text-align: center;

            & > p:first-of-type {
                float: none;
                width: 100%;
                margin-bottom: 10px;
            }

            & > p:last-of-type {
                float: none;
            }

            & br {
                display: none;
            }
        }

        & .wpcf7 {
            margin-left: 0;
            padding: 0;
        }

        & .wpcf7-form {
            left: 0;
            display: block;
            transform: none;
        }

        & label {
            font-size: 18px;
        }

        & .label-title {
            font-size: 24px;
        }

        & .wpcf7-submit {
            width: 100%;
        }
    }
}
